{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "quote-props": [1, "consistent-as-needed"],
    "no-cond-assign": [2, "except-parens"],
    "radix": 0,
    "space-infix-ops": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "default-case": 0,
    "no-else-return": 0,
    "no-param-reassign": 0,
    "quotes": 0,
    "semi": 0,
    "arrow-parens": 0,
  },
  "globals": {
    "__DEV__": true
  },
  "env": {
    "node": true,
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "plugins": [
    "node",
    "jest",
    "jasmine"
  ]
}